/* nejsme vcerejsi, pouzivame moderni box model */
html { box-sizing: border-box; }
*, :after, :before { box-sizing: inherit; }

body {
	font-family: sans-serif;
	font-size: 14px;
}

/* ---------------------------------------------------- */

/*
Breakpointy
Mobil   0 - 539px
Tablet  540px - 959px (čti jako 540px a víc)
PC      960px a víc
*/

h1{
text-align: center;
}


.popis{ 
	text-align: center;
}

img {
    border-radius: 50%;
    border: 3px solid white;
	max-width: 100%;
	
}

.ctverecek {
	padding: 20px;
	border-radius: 8px;
    border: 3px solid #21cfbd85;
	text-align: center;  
	margin-bottom: 20px; 	
}


@media screen and (min-width: 540px){
	.kontejner{
		display: flex;
		flex-wrap: wrap;
		gap: 20px;
		justify-content: space-between;
	}

	.ctverecek{
		width: calc(50% - 10px);
		max-width: calc(50% - 10px);
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		
	}

	.ctverecek,
	 .uvnitr {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 5px;
		flex-grow: 1;
	}

	.ctverecek,
	 .foto,
	  .popis{
		width: 100%;
	}

	 .uvnitr > * {
		flex-basis: 0;
		flex-grow: 1;
		margin: 0 5px;
	}
		
}	

@media screen and (min-width: 960px){
	.kontejner {
		display: flex;
		flex-wrap: nowrap;
		gap: 20px;
	  }
	
	.ctverecek .uvnitr {
		display: block;
		margin-top: 10px;
	}
}